/*
 *	작성자 : 강현
 *	목적: 모든 페이지에 공통적으로 적용될 스타일
 * 	주의: 스타일 작성 시 주석으로 기능이나 사용처 확실하게 표시해놓을 것
 *
 */



*{
	margin : 0;
	padding : 0;
	font-family : "-윤고딕340";
} /* margin과 padding을 0으로 초기화하고 폰트를 설정 */

section#main {
	width : 100%;
	height : 1000px;
	display : flex;
}

aside#side{
	width : 300px;
	float : left;
}

section#content {
	background-color : #f4f4f4;
	height : auto;
	width : 100%;
	color : #000;
}