* {
	margin: 0;
	padding: 0;
	/* font-family: "-�쑄怨좊뵓340"; */
}

button {
	border : 0;
	padding : 2px 8px;
}

#del_btn {
	background-color : #c55c5c;
}

#del_btn:disabled {
	background-color : #ddd;
}


button[type = "submit"] {
	background-color : #70cf81;
}

button:disabled {
	background-color : #ddd;
	color : #7f7f7f;
}

section#main {
	width: 100%;
	height: 100vh;
	display: flex;
	margin-top: 90px;
}

aside#side {
	width: 300px;
	float: left;
}

header {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
}

section#content {
	background-color: #fafafa;
	height: auto;
	width: 100%;
	color: #000;
	padding: 30px 10%;
}

section#content_car_include {
	height: auto;
	width: 100%;
	color: #000;
	padding: 30px 10%;
}

.content_title-box {
	border: 1px solid #2dccc0;
	padding: 10px;
	padding-left: 20px;
	font-size: 18px;
	background-color: #fff;
	border-radius: 8px;
	font-weight: bold;
}

.content_title-text {
	margin-left: 10px;
	margin-bottom: 0;
	display: inline-block;
}

.content_cont-box {
	border: 1px solid #ddd;
	padding: 10px 30px;
	background-color: #fff;
	margin: 15px 0;
	font-size: 15px;
}

.content_car_cont-box {
	padding: 10px 30px;
	background-color: #fff;
	margin: 15px 0;
	font-size: 15px;
}

.content_cont-text {
	margin-left: 10px;
	margin-bottom: 0;
	display: inline-block;
}

.form_textbox {
	margin: 0 10px;
	margin-right: 0;
	width: 150px;
	padding : 0 3px;
}
.form_textarea{
	margin: 0 10px;
	margin-right: 0;
	padding : 0 3px;
	margin-left:10px;
}

.form_car_select {
	margin: 0 10px;
	margin-right: 0;
	width: 150px;
}

.form_textbox[readonly] {
	background-color: #d8d8d8;
	margin-left: 20px;
	margin: 0 10px;
	margin-right: 0;
}

#number_input {
	text-align: right;	
}

.form_label {
	background-color: #4ab4e1;
	padding: auto;
	width: 18%;
	text-align: center;
	color: #fff;
}

.table>tbody>tr>td {
	padding: 5px;
}

.form_label p {
	display: inline-block;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
}

.form_label>.label {
	font-size: 15px;
	float: left;
}

.form_label>.must {
	color: #ff0000;
	display: block;
	float : right;
	position : relative;
	right : 3px;
	margin : -5px;
}

.form_phone-td  p,
.form_jumin-td  p {
	display: inline-block;
	margin-left: 5px;
}

.form_phone-td input {
	width: 50px;
}

.form_jumin-td input {
	width: 70px;
}

#roadAddress {
	width: 60%;
}

#roadAddress-detail {
	width: 30%;
}

.form_btn-group {
	text-align: center;
}
.form_btn-group1 {
	text-align: right;
}

.form_btn-group button {
	width: 60px;
	height: 30px;
	margin: 10px;
	font-size: 15px;
}

.radio-group {
	padding: 0 10px;
}

.radio-group>input {
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
}

#search-button {
	background-color: #6a6a6a;
	color: #fff;
	padding: 5px;
	border-radius: 1px;
}

.quiet_btn {
	border : 0;
	background-color : inherit;
	padding : 0;
}

.hdn_label {
	visibility: hidden;
}

a {
	color : inherit;
}

a:hover {
	color : inherit;
	text-decoration: none;
	font-weight : bold;
}

@media ( max-width : 800px) {
	.form_label>.label {
		font-size: 12px;
	}
	.form_car_select,
	#bo_s_date .form_textbox,
	#bo_e_date .form_textbox,
	#ep_date .form_textbox,
	#ct_date .form_textbox,
	#date .form_textbox {
		margin: 0 2px;
		width : 80px;
	}
	.form_textbox {
		margin: 0 2px !important;
		margin-right: 0;
		width: 60px;
	}
	.content_cont-box {
		padding: 5px 2px;
		margin: 5px 0;
		font-size: 12px;
	}
	aside#side {
		width: 0px;
	}
	section#content {
		padding: 20px 5px;
	}
	.label {
		padding : 2px;
	}
	#form_table {
		margin : 0;
	}
	#search-button {
    	padding: 4px;
	}
	.form_normal-td[colspan = "3"] .form_textbox {
		width: 35%;
	}
	#roadAddress {
		width: 80%;
	}
	#roadAddress-detail {
		width: 60%;
	}
	section#main {
		height: 100%;
	}
}

@media (min-width : 1024px) and (max-width : 1699px) {
	.navbar-nav {
		padding : 0 5px !important;
	}
	section#content {
		padding : 30px 5%;
	}
}

@media ( min-width : 1700px) {
	section#content {
		padding: 30px 100px;
		padding-right: 500px;
	}
}